* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100vh;
  overflow: auto;
  background-color: #ffffff;
}

.SnackbarContainer-top {
  top: 15% !important;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input::placeholder {
  color: #b8b8b8;
}
